<ng-container *ngIf="appointmentState.state$ | async as state">
<div style="display: flex; flex-direction: column; gap: 20px" *ngIf="!state.loading && !state.error">
  <div>
    <h1>Appointments</h1>
      <p-table [value]="state.appointments" [tableStyle]="{'max-width': '50rem'}">
        <ng-template pTemplate="header">
          <tr>
            <th>Id</th>
            <th>Start Date</th>
            <th>End Date</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-appointment>
          <tr style="cursor: pointer" (click)="navigateToAppointment(appointment.id)">
            <td>{{ appointment.id }}</td>
            <td>{{ appointment.startDate }}</td>
            <td>{{ appointment.endDate }}</td>
          </tr>

        </ng-template>
      </p-table>
  </div>
  <p-button (click)="navigateToAppointmentCreation()">Create new appointment</p-button>
</div>

<p-toast></p-toast>
<p-progressSpinner *ngIf="state.loading"></p-progressSpinner>
</ng-container>


