<section class="container gap-medium padding-medium">
  <section class="form-card">
    <h2>Change Password</h2>
    <form [formGroup]="passwordForm" class="container gap-small">
      <div class="flex-row-align-center gap-small">
        <div class="container gap-small">
          <label for="password" class="bold">New password: </label>
          <input class="text-input" type="text" formControlName="password" id="password">
        </div>
        <p-message *ngIf="passwordForm.get('password')?.touched&&passwordForm.get('password')!.hasError('required')" severity="error" text="Password is required."></p-message>
        <p-message *ngIf="passwordForm.get('password')?.touched&&passwordForm.get('password')!.hasError('minlength')" severity="error" text="Password must be at least 8 characters long."></p-message>
        <p-message *ngIf="passwordForm.get('password')?.touched&&passwordForm.get('password')!.hasError('maxlength')" severity="error" text="Password must be at maximum 128 characters long."></p-message>
      </div>
      <section>
        <p-confirmPopup>
          <ng-template pTemplate="headless" let-message>
            <section class="flex-column padding-small gap-small">
              <span>{{ message.message }}</span>
              <section class="flex-row gap-small">
                <button (click)="acceptUpdate()" pButton label="Confirm" class="p-button-sm p-button-outlined"></button>
                <button (click)="rejectUpdate()" pButton label="Cancel" class="p-button-sm p-button-text"></button>
              </section>
            </section>
          </ng-template>
        </p-confirmPopup>
        <p-button (click)="updatePatient($event)" [disabled]="passwordForm.invalid">Submit</p-button>
      </section>
    </form>
  </section>
</section>
