<div *ngIf="appointmentState.state$ | async as state">
  <div *ngIf="state.selectedAppointment && state.selectedAppointment.id > 0; else noAppointment" class="container padding-medium flex-column gap-medium">
    <h1>Appointment Details</h1>
    <app-appointment [appointment]="state.selectedAppointment"></app-appointment>

    <section *ngIf="state.selectedAppointment && state.selectedAppointment.userAppointments" class="flex-column gap-small">
      <p-toggleButton [(ngModel)]="seeUsers" onLabel="Hide Users" offLabel="Show Users"></p-toggleButton>
      <section *ngIf="seeUsers" class="flex-column gap-small">
        <app-user [user]="state.selectedAppointment.userAppointments[0].user"></app-user>
        <app-user [user]="state.selectedAppointment.userAppointments[1].user"></app-user>
      </section>
    </section>

    <section class="flex-column gap-small">
      <p-toggleButton [(ngModel)]="editAppointment" onLabel="Cancel" offLabel="Edit Appointment"></p-toggleButton>
      <section *ngIf="editAppointment">
        <form [formGroup]="appointmentForm" class="form-card">
          <div class="flex-row-align-center gap-small">
            <div>
              <label for="startDate" class="bold">Start Date: </label>
              <input class="datetime" type="datetime-local" formControlName="startDate" id="startDate">
            </div>
            <p-message *ngIf="appointmentForm.get('startDate')?.touched&&appointmentForm.get('startDate')!.hasError('required')" severity="error" text="Start date is required."></p-message>
          </div>
          <div class="flex-row-align-center gap-small">
            <div>
              <label for="endDate" class="bold">End Date: </label>
              <input class="datetime" type="datetime-local" formControlName="endDate" id="endDate">
            </div>
            <p-message *ngIf="appointmentForm.get('endDate')?.touched&&appointmentForm.get('endDate')!.hasError('required')" severity="error" text="End date is required."></p-message>
          </div>
          <p-message *ngIf="appointmentForm.get('endDate')?.touched&&appointmentForm.get('startDate')?.touched&&!validDates()" severity="error" text="Start date must be before the end date."></p-message>
          <section>
            <p-confirmPopup>
              <ng-template pTemplate="headless" let-message>
                <section class="flex-column padding-small gap-small">
                  <span>{{ message.message }}</span>
                  <section class="flex-row gap-small">
                    <button (click)="acceptUpdate()" pButton label="Confirm" class="p-button-sm p-button-outlined"></button>
                    <button (click)="rejectUpdate()" pButton label="Cancel" class="p-button-sm p-button-text"></button>
                  </section>
                </section>
              </ng-template>
            </p-confirmPopup>
            <p-button (click)="updateAppointment($event)" [disabled]="appointmentForm.invalid || !validDates()">Update</p-button>
          </section>
        </form>
      </section>
      <p-confirmPopup>
        <ng-template pTemplate="headless" let-message>
          <section class="flex-column padding-small gap-small">
            <span>{{ message.message }}</span>
            <section class="flex-row gap-small">
              <button (click)="acceptDelete()" pButton label="Confirm" class="p-button-sm p-button-outlined"></button>
              <button (click)="rejectDelete()" pButton label="Cancel" class="p-button-sm p-button-text"></button>
            </section>
          </section>
        </ng-template>
      </p-confirmPopup>
      <p-button (click)="deleteAppointment($event)" severity="warning" [rounded]="true">Cancel Appointment</p-button>
    </section>

    <p-toast></p-toast>
  </div>
  <ng-template #noAppointment>
    <p>no appointment selected</p>
  </ng-template>
</div>
