<section class="container gap-medium padding-medium">
  <section class="item-card">
    <h2>Your Schedule</h2>
    <section>
      <h3>Monday</h3>
      <span class="bold color-secondary"> </span>
      <span>{{schedule.mondaySchedule.startTime | timeString}} - {{schedule.mondaySchedule.endTime | timeString}}</span>
    </section>
    <section>
      <h3>Tuesday</h3>
      <span class="bold color-secondary"> </span>
      <span>{{schedule.tuesdaySchedule.startTime | timeString}} - {{schedule.tuesdaySchedule.endTime | timeString}}</span>
    </section>
    <section>
      <h3>Wednesday</h3>
      <span class="bold color-secondary"> </span>
      <span>{{schedule.wednesdaySchedule.startTime | timeString}} - {{schedule.wednesdaySchedule.endTime | timeString}}</span>
    </section>
    <section>
      <h3>Thursday</h3>
      <span class="bold color-secondary"> </span>
      <span>{{schedule.thursdaySchedule.startTime | timeString}} - {{schedule.thursdaySchedule.endTime | timeString}}</span>
    </section>
    <section>
      <h3>Friday</h3>
      <span class="bold color-secondary"> </span>
      <span>{{schedule.fridaySchedule.startTime | timeString}} - {{schedule.fridaySchedule.endTime | timeString}}</span>
    </section>
  </section>
</section>
